        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: 'Jost', sans-serif;
        }
        
        body {
            background-color: #ffffff;
            color: #000000;
            width:100vw;
            padding: 0 2rem;
        }
        
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 114px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 1000;
            padding:0 0 0 60px;
            flex-wrap: wrap;
        }
        
        .logo {
            width: 30%;
            aspect-ratio: 134/74;
        }
        
        .nav-wrapper{
            display: flex;
            align-items: center;
        }

        .nav {
            display: flex;
            flex-wrap: wrap;
            max-width: 70%;
            justify-content: space-around;

        }
        
        .nav-item {
            font-size: 1rem;
            line-height: 27px;
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

         .nav-item:hover{
            text-decoration:underline;
         }

         .menu{
            display: flex;
            align-items: center;
            padding-right:3rem;
         }
                    
        .buy-now-btn {
            background-color: #000000;
            color: #ffffff;
            font-size: 18px;
            line-height: 27px;
            padding: .4rem 2rem;
            border: none;
            cursor: pointer;
        }

        .search-btn{
            background-color: transparent;
            border: none;
        }
        
        .cart-icon {
            margin-right: 10px;
        }
        
        .hero-section {
            padding: 150px 0 60px;
            display: flex;
            width: 100%;
            flex-direction: column;
        }
        
        .design-badge {
            background-color: #e2b013;
            color: #ffffff;
            width:fit-content;
            padding: 4px 10px;
            font-size: 14px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
        }
        
        .hero-title {
            font-size: 96px;
            line-height: 139px;
            color: #000000;
            margin-bottom: 10px;
        }
        
        .hero-subtitle {
            font-size: 50px;
            line-height: 73px;
            color: #000000;
            margin-bottom: 20px;
        }
        
        .hero-description {
            font-size: 26px;
            line-height: 33px;
            color: #333333;
            max-width: 627px;
            margin-bottom: 40px;
        }
        
        .features {
            display: flex;
            margin-top: 40px;
            flex-wrap: wrap;
            gap:60px;
        }
        
        .feature {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        
        .feature-icon {
            width: 60px;
            height: 60px;
            margin-bottom: 15px;
        }
        
        .feature-text {
            font-size: 11px;
            line-height: 16px;
            color: #333333;
            text-transform: uppercase;
        }
        
        .hero-image {
            position: absolute;
            right: 0;
            top: 122px;
            width: 785px;
            height: 728px;
            z-index: -1;
        }
        
        .zero-design-section {
            display: flex;
            padding: 60px;
            margin-top: 100px;
        }
        
        .zero-design-image {
            width: 100%;
            aspect-ratio: 2/3;
            object-fit: cover;
        }
        
        .zero-design-content {
            padding-left: 270px;
            padding-top: 50px;
        }
        
        .zero-design-title {
            font-size: 96px;
            line-height: 139px;
            color: #000000;
            margin-bottom: 10px;
        }
        
        .zero-design-description {
            font-size: 22px;
            line-height: 27px;
            color: #000000;
            max-width: 609px;
        }
        
        .page-count {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 30px;
        }
        
        .count-badge {
            background-color: #000000;
            color: #ffffff;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            padding: 7px 20px;
            height: 38px;
        }
        
        .section-title {
            background-color: #000000;
            color: #ffffff;
            font-size: 36px;
            width:fit-content;
            padding: 0 30px;
            display: flex;
            align-items: center;
            margin: 2rem 0;
            font-weight: 200;
        }
        
        .template-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap:30px;
        }
        
        .template-card-large {
            background-color: rgba(0, 0, 0, 0.04);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 29px;
            transition: transform 0.3s ease;
            width: clamp(100%,40vw,500px);
        }
        
        .template-card-large:hover {
            transform: translateY(-10px);
        }
        
        .template-card-small {
            background-color: rgba(0, 0, 0, 0.04);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 29px;
            transition: transform 0.3s ease;
width: clamp(100%,40vw,500px);        }
        
        .template-card-small:hover {
            transform: translateY(-10px);
        }
        
        .template-image-large, .template-image-small {
            width:100%;
            object-fit: cover;
        }
        
        .template-name {
            font-size: 26px;
            line-height: 38px;
            color: #000000;
            text-transform: uppercase;
            margin: 20px 0 0 20px;
            text-align:left;
            font-weight: 400;
            width: 100%;
        }
        
        .footer {
            background-color: #fff;
            padding: 2rem;
        }

        .footer-wrapper{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            background-color: #fff;
        }
        
        .footer-content {
            background-color: #ffffff;
        }
        
        .footer-left{
            display: flex;
            flex-direction: column;
        }

        .footer-title {
            font-size: 24px;
            color: #000000;
            margin-bottom: 30px;
            font-weight: 200;
        }
        
        .newsletter-form {
            display: flex;
            margin-bottom: 60px;
        }
        
        .newsletter-input {
            height: 40px;
            border: 1px solid #ccc;
            padding: 0 10px;
        }

        .newsletter-inputafter{
            width: 30%;
            height: 40px;
            background-color:#000;
        }
        
        .social-icons {
            display: flex;
            gap: 16px;
            margin-bottom: 40px;
        }
        
        .social-icon {
            width: 90px;
            height: 90px;
        }
        
        .footer-columns {
            display: flex;
            justify-content: space-between;
            background-color: #fff;
                            flex-wrap: wrap;

        }
        
        .footer-column {
            margin-right: 60px;
        }
        
        .footer-column-title {
            font-size: 24px;
            line-height: 35px;
            color: #000000;
            margin-bottom: 20px;
        }
        
        .footer-link {
            display: block;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            margin-bottom: 10px;
            text-decoration: none;
        }
        
        .footer-bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
        }
        
        .footer-text {
            font-size: 10px;
            line-height: 15px;
            color: #333333;
            text-transform: uppercase;
        }
        
        .footer-highlight {
            color: #e2b013;
        }
        
        @media (max-width: 1200px) {
            .hero-image {
                width: 500px;
                height: auto;
            }
            
            .zero-design-content {
                padding-left: 60px;
            }
            
            .template-grid {
                justify-content: center;
            }
        }
        
        @media (max-width:550px){
            .features{
              gap:20%;
              justify-content: space-around;
              flex-wrap:wrap;

            }
        }

        @media (max-width: 760px) {
            body{
                padding: 0;
            }

            
            .header {
                padding: 0 20px;
            }
            
            .hero-section {
                padding: 150px 20px 60px;
            }
            
            .hero-title {
                font-size: 60px;
                line-height: 80px;
            }
            
            .hero-subtitle {
                font-size: 36px;
                line-height: 50px;
            }
            
            .hero-description {
                font-size: 20px;
                line-height: 28px;
            }
            
            .hero-image {
                display: none;
            }
            
            .zero-design-section {
                flex-direction: column;
                padding: 20px;
            }
            
            .zero-design-content {
                padding-left: 0;
                padding-top: 30px;
            }
            
            .zero-design-title {
                font-size: 60px;
                line-height: 80px;
            }
            
            .section-title {
                margin-left: 20px;
            }
            
            .template-grid {
                padding: 0 20px;
            }
            

            
            .footer-columns {
                flex-direction: column;
            }
            
            .footer-column {
                margin-bottom: 30px;
            }
        }